
# ==========================================
#      Frontend Environment Variables
# ==========================================

# --------------------------
# Backend Server Connection
# --------------------------

# Host address where the backend API is running
HOST=127.0.0.1

# Port exposed by the backend API
PORT=8080


# --------------------------
# Streamlit Configuration
# --------------------------

# Host where the Streamlit app will be served
STREAMLIT_HOST=127.0.0.1

# Port for the Streamlit frontend
STREAMLIT_PORT=8501